{% extends 'block-module-sites/admin.twig' %}

{% block body %}
	<div class='panel panel-default'>
		{% block panelHeading %}
			<!--
			<div class='panel-heading'>
				...
			</div>
			-->
		{% endblock %}
		{% block panelBody %}
			<!--
			<div class='panel-body'>
				...
			</div>
			-->
		{% endblock %}
		{% block table %}
			<!--
			<table class='table'>
				<tr>
					<td>...</td>
				</tr>
			</table>
			-->
		{% endblock %}
		{% block panelFooter %}
		<!--
		<div class='panel-footer'>
			...
		</div>
		-->
		{% endblock %}
	</div>
{% endblock %}