{% extends 'core/block-module-wines/admin.core.twig' %}

{% block panelHeading %}
	<div class='panel-heading'>
		<h4>Delete Wine</h4>
	</div>
{% endblock %}

{% block panelBody %}
	<div class='panel-body'>
		<form role="form" method="post">
			<input type='hidden' name='action' value='delete' />
			<p>Are you sure you want to delete wine '{{ wine.name }}'?</p>
			<button type="save" class="btn btn-default">Delete</button>
		</form>
	</div>
{% endblock %}

{% block table %}
{% endblock %}