{% extends 'core/block-module-wines/admin.core.twig' %}

{% block panelHeading %}
	<div class='panel-heading'>
		<h4>Delete Wine</h4>
	</div>
{% endblock %}

{% block panelBody %}
	<div class='panel-body'>
		Wine details...
	</div>
{% endblock %}

{% block table %}
{% endblock %}