{% extends 'core/block-module-wines/admin.core.twig' %}

{% block panelHeading %}
	<div class='panel-heading'>
		<h4>Update Wine</h4>
	</div>
{% endblock %}

{% block panelBody %}
	<div class='panel-body'>
		<form role="form" method="post">
			<input type='hidden' name='action' value='save' />
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" name="name" placeholder="Enter name" value="{{ wine.name }}">
			</div>
			<div class="form-group">
				<label for="winery">Winery</label>
				<input type="text" class="form-control" name="winery" placeholder="Enter winery" value="{{ wine.winery }}">
			</div>
			<div class="form-group">
				<label for="year">Year</label>
				<input type="text" class="form-control" name="year" placeholder="Enter year" value="{{ wine.year }}">
			</div>
			{% block projectFields %}
			{% endblock %}
			<button type="save" class="btn btn-default">Save</button>
		</form>
	</div>
{% endblock %}

{% block table %}
{% endblock %}