<html>
	<head>
		<link rel="stylesheet" href="{{ root }}css/core/block-plugin-twitter-bootstrap/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="{{ root }}css/core/block-plugin-twitter-bootstrap/bootstrap-responsive-min.css" type="text/css" />
	</head>
	<body>
		{% block header %}
			<p>header</p>
		{% endblock %}

		{% block content %}
			<p>
				<b>All users:</b><br>
				{% for user in userArray %}
					{{ user.firstName }} {{ user.lastName }}<br>
				{% endfor %}
			</p>
		{% endblock %}

		{% block footer %}
			<p>footer</p>
		{% endblock %}
	</body>
</html>